@font-face {
    font-family: dm_serif;
    src: url("dm_serif.ttf");
}

@font-face {
    font-family: ginora;
    src: url("ginora.otf");
}

@font-face {
    font-family: VIVITA-Medium;
    src: url("VIVITA-Medium.ttf");
}

@font-face {
    font-family: ArialNova-Light;
    src: url("ArialNova-Light.ttf");
}