:root {
    --gray: #535353;
    --light: #ccc9c5;
    --red: #823529
}

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

html {
    scroll-behavior: smooth;
    background: url('graphics/bg.jpg') no-repeat center center fixed; /* Set the background image */
    background-size: cover;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    user-select: none;
}

#main_title_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 85svh;
    margin: 0;
}


#main_logo {
    width: min(100svw, 1200px);
    max-height: 50svh;
}

#contact {
    margin-left: min(calc(5.5svh), calc(5.5svw));
    font-family: ArialNova-Light;
    font-size: min(calc(4svh), calc(4svw));
    letter-spacing: 0.2em;
    user-select: text;
    color: var(--gray);
    text-shadow: rgba(0, 0, 0, 0.8) 1px 0 10px;
}

#social-media {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 10svh;
    margin: 0;
    text-align: center;
    justify-content: center;
}

#social-media img {
    height: min(6svw, 40px);
    width: auto;
    margin: 0 min(5svw, 75px);
    transition: filter 0.3s ease;
    filter: invert(70%) ;

}
#social-media img:hover {
    filter: invert(0%);
}

#social-media a {
    text-decoration: none;
}

p {
    margin: 0;
}

#pdf {
    position: relative;
    width: 80svw;
    height: 80svh;
    margin: auto;
}
